docs/dom/xsd_datacontent/Cell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
	<!-- Extends -->
	<xs:include id="NonLeafContentElement" schemaLocation="./NonLeafContentElement.xsd"/>
	<!-- /Extends -->
	<xs:include id="Style" schemaLocation="./style/CellStyle.xsd"/>
	<xs:include id="Container" schemaLocation="./Container.xsd"/> <!-- Child -->
  		<xs:complexType name="CellType" >
			<xs:complexContent>
	  			<xs:extension base="NonLeafContentElementType"> 
					<xs:sequence>
		 				<xs:element name="Style" type="CellStyleType" minOccurs="0" maxOccurs="1">
		 					<xs:annotation>
  								<xs:documentation>
  									Style for {@link Cell}
  								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
								<xs:element name="Container" type="ContainerType"> <!-- Child -->
									<xs:annotation>
  										<xs:documentation>
  											A container of flowing document content. Containers can be either stacked
with other content in a parent container, or positioned absolutely on the
page in a predefined region, static containers can only be positioned
absolutely on the page in a predefined region. When formatting for paged
media, containers start on a page they first appear, and may span multiple
pages.
  										</xs:documentation>
									</xs:annotation>
								</xs:element>
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence> 
	       			<xs:attribute name="colSpan" type="xs:int" use="optional"/>
	       			<xs:attribute name="rowSpan" type="xs:int" use="optional"/>
	       			<xs:attribute name="headerCellIds" type="xs:string" use="optional"/>
	   			</xs:extension> 
	  		</xs:complexContent>
		</xs:complexType>
</xs:schema>