docs/dom/xsd_datacontent/Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
	<xs:include id="type" schemaLocation="./ScriptTypeEnum.xsd"/>
		<xs:complexType name="DataType">
      		<xs:simpleContent>
         		<xs:extension base="xs:string">
					<xs:attribute name="hash" type="xs:string" use="optional"/>
					<xs:attribute name="type" type="ScriptTypeEnumType" use="optional"/>
					<xs:attribute name="editable" type="xs:boolean" use="optional"/>
					<xs:attribute name="spellchecking" type="xs:boolean" use="optional"/>
					<xs:attribute name="resolve" type="xs:boolean" use="optional"/>
         		</xs:extension>
      		</xs:simpleContent>
   		</xs:complexType>
</xs:schema>