docs/dom/xsd_datacontent/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
	<!-- Extends -->
	<xs:include id="NonLeafContentElement" schemaLocation="./NonLeafContentElement.xsd"/>
	<!-- /Extends -->
	<xs:include id="Style" schemaLocation="./style/TableHeaderStyle.xsd"/>
	<xs:include id="Row" schemaLocation="./Row.xsd"/> <!-- Child -->
	<xs:include id="occurrence" schemaLocation="./style/proptypes/TableHeaderOccurrenceEnum.xsd"/>
  		<xs:complexType name="HeaderType" >
			<xs:complexContent>
	  			<xs:extension base="NonLeafContentElementType"> 
					<xs:sequence>
		 				<xs:element name="Style" type="TableHeaderStyleType" minOccurs="0" maxOccurs="1">
		 					<xs:annotation>
  								<xs:documentation>
  									Style for {@link TableHeader}
  								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
								<xs:element name="Row" type="RowType"> <!-- Child -->
									<xs:annotation>
  										<xs:documentation>
  											Table row.
  										</xs:documentation>
									</xs:annotation>
								</xs:element>
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence> 
					<xs:attribute name="occurrence" type="TableHeaderOccurrenceEnumType" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Defines on which pages a table header should occur.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
	   			</xs:extension> 
	  		</xs:complexContent>
		</xs:complexType>
</xs:schema>