docs/dom/xsd_datacontent/Language.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
  		<xs:complexType name="LanguageType" >
	       			<xs:attribute name="language" type="xs:string" use="optional"/>
	       			<xs:attribute name="country" type="xs:string" use="optional"/>
	       			<xs:attribute name="variant" type="xs:string" use="optional"/>
		</xs:complexType>
</xs:schema>