docs/dom/xsd_datacontent/Par.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
	<!-- Extends -->
	<xs:include id="NonLeafContentElement" schemaLocation="./NonLeafContentElement.xsd"/>
	<!-- /Extends -->
	<xs:include id="Style" schemaLocation="./style/ParStyle.xsd"/>
	<xs:include id="Span" schemaLocation="./Span.xsd"/> <!-- Child -->
  		<xs:complexType name="ParType" >
			<xs:complexContent>
	  			<xs:extension base="NonLeafContentElementType"> 
					<xs:sequence>
		 				<xs:element name="Style" type="ParStyleType" minOccurs="0" maxOccurs="1">
		 					<xs:annotation>
  								<xs:documentation>
  									Style for {@link Par}
  								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
								<xs:element name="Span" type="SpanType"> <!-- Child -->
									<xs:annotation>
  										<xs:documentation>
  											A marked piece of paragraph content. Consists of span items, which are either
a data reference, or a plain text.
  										</xs:documentation>
									</xs:annotation>
								</xs:element>
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence> 
	   			</xs:extension> 
	  		</xs:complexContent>
		</xs:complexType>
</xs:schema>