docs/dom/xsd_datacontent/Row.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
	<!-- Extends -->
	<xs:include id="NonLeafContentElement" schemaLocation="./NonLeafContentElement.xsd"/>
	<!-- /Extends -->
	<xs:include id="Style" schemaLocation="./style/RowStyle.xsd"/>
	<xs:include id="Cell" schemaLocation="./Cell.xsd"/> <!-- Child -->
  		<xs:complexType name="RowType" >
			<xs:complexContent>
	  			<xs:extension base="NonLeafContentElementType"> 
					<xs:sequence>
		 				<xs:element name="Style" type="RowStyleType" minOccurs="0" maxOccurs="1">
		 					<xs:annotation>
  								<xs:documentation>
  									Style for {@link Row}
  								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
								<xs:element name="Cell" type="CellType"> <!-- Child -->
									<xs:annotation>
  										<xs:documentation>
  											Table cell.
  										</xs:documentation>
									</xs:annotation>
								</xs:element>
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence> 
	   			</xs:extension> 
	  		</xs:complexContent>
		</xs:complexType>
</xs:schema>