docs/dom/xsd_datacontent/style/proptypes/Indents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
  		<xs:complexType name="IndentsType" >
					<xs:attribute name="top" type="xs:string" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Stores a distance together with its unit.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="right" type="xs:string" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Stores a distance together with its unit.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="bottom" type="xs:string" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Stores a distance together with its unit.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="left" type="xs:string" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Stores a distance together with its unit.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
		</xs:complexType>
</xs:schema>