docs/dom/xsd_datacontent/style/proptypes/RegionAnchor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:simpledom" targetNamespace="urn:kwsoft:mtext:tonic:simpledom" elementFormDefault="qualified">
	<xs:include id="anchorSide" schemaLocation="../../style/proptypes/AnchorSideEnum.xsd"/>
  		<xs:complexType name="RegionAnchorType" >
					<xs:attribute name="distance" type="xs:string" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Stores a distance together with its unit.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="anchorSide" type="AnchorSideEnumType" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								Enumeration of the paper side to which an anchor points.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
		</xs:complexType>
</xs:schema>