docs/dom/xsd_datacontent/Charts/DataSeries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:charts" targetNamespace="urn:kwsoft:mtext:tonic:charts" elementFormDefault="qualified">
	<xs:include id="DateDataRow" schemaLocation="./DateDataRow.xsd"/> <!-- Child -->
	<xs:include id="DynamicDataRow" schemaLocation="./DynamicDataRow.xsd"/> <!-- Child -->
	<xs:include id="NumberDataRow" schemaLocation="./NumberDataRow.xsd"/> <!-- Child -->
	<xs:include id="StringDataRow" schemaLocation="./StringDataRow.xsd"/> <!-- Child -->
  		<xs:complexType name="DataSeriesType" >
					<xs:sequence>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
								<xs:element name="DateDataRow" type="DateDataRowType"> <!-- Child -->
									<xs:annotation>
  										<xs:documentation>
  											A date/time data row
  										</xs:documentation>
									</xs:annotation>
								</xs:element>
		  						<xs:element name="DynamicDataRow" type="DynamicDataRowType"/> <!-- Child -->
								<xs:element name="NumberDataRow" type="NumberDataRowType"> <!-- Child -->
									<xs:annotation>
  										<xs:documentation>
  											A data row consisting of numbers (Double or Long values)
  										</xs:documentation>
									</xs:annotation>
								</xs:element>
		  						<xs:element name="StringDataRow" type="StringDataRowType"/> <!-- Child -->
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence>
					<xs:attribute name="name" type="xs:string" use="optional">
						<xs:annotation>
  							<xs:documentation>
  								A localizable string has a default value and can have translations of that default value
to various languages. The object is used for UI contributions. When constructing the UI,
the best match language variant is used. The default is used if there is no matching variant.
  							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
                    <xs:anyAttribute namespace="##local" processContents="skip"/>
		</xs:complexType>
</xs:schema>