docs/dom/xsd_datacontent/Charts/DateDataRow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:charts" targetNamespace="urn:kwsoft:mtext:tonic:charts" elementFormDefault="qualified" xmlns:dom="urn:kwsoft:mtext:tonic:dom">
	<!-- Extends -->
	<xs:include id="AbstractStaticDataRow" schemaLocation="./AbstractStaticDataRow.xsd"/>
	<!-- /Extends -->
	<xs:import id="Format" namespace="urn:kwsoft:mtext:tonic:dom" schemaLocation="../.././Data/xsd/format/DateValueFormat.xsd"/>
  		<xs:complexType name="DateDataRowType" >
			<xs:complexContent>
	  			<xs:extension base="AbstractStaticDataRowType"> 
					<xs:sequence>
		 				<xs:element name="Format" type="dom:DateValueFormatType" minOccurs="0" maxOccurs="1">
		 					<xs:annotation>
  								<xs:documentation>
  									Formats and parses date and time values using locale-sensitive or user-defined patterns.
  								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
		  						<xs:element name="Date" type="xs:dateTime"/> <!-- Child -->
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence>
	   			</xs:extension> 
	  		</xs:complexContent>
		</xs:complexType>
</xs:schema>