docs/dom/xsd_datacontent/Charts/NumberDataRow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:kwsoft:mtext:tonic:charts" targetNamespace="urn:kwsoft:mtext:tonic:charts" elementFormDefault="qualified" xmlns:dom="urn:kwsoft:mtext:tonic:dom">
	<!-- Extends -->
	<xs:include id="AbstractStaticDataRow" schemaLocation="./AbstractStaticDataRow.xsd"/>
	<!-- /Extends -->
	<xs:import id="Format" namespace="urn:kwsoft:mtext:tonic:dom" schemaLocation="../.././Data/xsd/format/NumberValueFormat.xsd"/>
  		<xs:complexType name="NumberDataRowType" >
			<xs:complexContent>
	  			<xs:extension base="AbstractStaticDataRowType"> 
					<xs:sequence>
		 				<xs:element name="Format" type="dom:NumberValueFormatType" minOccurs="0" maxOccurs="1">
		 					<xs:annotation>
  								<xs:documentation>
  									Formats and parses numbers using locale-sensitive or user-defined symbols,
such as decimal separator, grouping separator or currency symbol. Allows
defining number of fractional digits, leading zeroes, currency pattern, etc.
  								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
		 					<xs:choice minOccurs="0">
		  						<xs:element name="Double" type="xs:double"/> <!-- Child -->
		  						<xs:element name="Float" type="xs:float"/> <!-- Child -->
								<xs:element name="Integer"/> <!-- Child -->
								<xs:element name="Long"/> <!-- Child -->
		 					</xs:choice>
						</xs:sequence>
					</xs:sequence>
	   			</xs:extension> 
	  		</xs:complexContent>
		</xs:complexType>
</xs:schema>